<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GeneralTurbo - Ремонт автомобилей</title>
  <link rel="stylesheet" href="css/style.min.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap"
    rel="stylesheet">
</head>

<body>






  <header class="header">




    <div class="container container-header">

      <button class="nav__burger-btn" id="burger">
        <span></span><span></span><span></span>
      </button>


      <nav class="nav" id="nav">



        <a class="nav__logo" href="#">General<span class="nav__logo__red">Turbo</span></a>






        <ul class="nav__menu" id="nav__menu">
          <li>
            <a class="nav__link" href="#">
              Преимущества
            </a>
          </li>
          <li>
            <a class="nav__link" href="#part1">
              Услуги
            </a>
          </li>
          <li>
            <a class="nav__link" href="#">
              Цены
            </a>
          </li>
          <li>
            <a class="nav__link" href="#">
              Этап работы
            </a>
          </li>
          <li>
            <a class="nav__link" href="#">
              Этап работы
            </a>
          </li>



        </ul>
        <a class="nav__btn" href="#">Заказать звонок</a>
      </nav>


    </div>




  </header>